$font-style:Arial, Helvetica, sans-serif;
$font-size: 14px;


.header{
    background-color:rgba(17,17,17,0.75);
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    min-width: 1280px;
    height: 66px;
    transform: translateX(0);
    display: block;
    z-index: 999;
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);

    .header__logo{
        float: left;
        margin-left: 24px;
        .audio-controller{
            position: absolute;
            cursor: pointer;
            top: 20%;
            left: 3%;
            img{
                transform: scale(0.8);
            }
        }
    }

    .header__warp{
        display: inline-block;
        position: relative;
        margin-left: -60px;

        .header__navbar{
            display: inline-block;
            list-style-type: none;
            padding-right: 10px;
            margin-left: 40px;
            
            .header__navitem{                
                text-decoration: none;
                display: flex;
                position: relative;
                float: left;
                width: auto;
                height: 66px;
                line-height: 66px;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 0;
                text-align: center;
                align-items: center;
                cursor: pointer;
                font-size: $font-size;
                margin: 0 15px !important;
                font-family: $font-style;
                color: white;
                opacity: 0.75;
                
                &:hover{
                    opacity: 1;
                    text-shadow:0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
                }
                
                &:nth-child(1){
                    opacity: 1;
                    text-shadow:0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
                }
            }

            .header__navitem__more{                
                &::before{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 88%;
                    width: 66px;
                    height: 50px;
                }

                &::after{
                    content: '';
                    display: block;
                    border-top: 5px solid #ccc;
                    border-left: 4.5px solid transparent;
                    border-right: 4.5px solid transparent;
                    margin-left: 9px;
                }
                  
                p{
                    margin: 0;
                }
                .header__navitem__sublist{
                    margin: 0;
                    padding: 0;
                    list-style-type: none;                    
                    position: absolute;
                    top: 66px;
                    left: -33px;
                    background: #272626;
                    opacity: 0;
                    transition: all 0.2s ease-in;
                    border-radius: 1px;
                    pointer-events: none;
                    transform: translateY(-22px);
                    transform: opacity 250ms ease-in, translate 250ms ease-in;

                
                    li{
                        list-style-type: none;
                        width: 214px;
                        height: 63px;
                        display: list-item;
                        text-align: left;
                        padding-left: 2rem;
                        a{
                            text-shadow: none;
                        }

                        &:hover{
                            background: rgba(68, 67, 67, 0.75);
                            text-shadow: none;
                        }
                    }

                    a{
                        text-decoration: none;
                        color: white;
                        font-family: inherit;
                    }                 
                }
                              
                &:hover .header__navitem__sublist{
                    background: rgba(39,38,38,0.9);
                    opacity: 1;
                    transform: translateY(0);
                    pointer-events:all;
                }
            }
        }
        .top_squre{
            position: absolute;
            z-index: 1;
            transition: all 0.2s ease-in-out 0s;
            background-color: rgb(105,224,255);
            height: 5px;
            left: 55px;
            width: 44px;
            top: 0px;
        }
    }

    .header__login{

        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 200px;
        height: 100%;
        white-space: nowrap;
        font-size: $font-style;

        .login__btn{
            display: flex;
            align-items: center;
            padding: 0 10px;
            border: 0;
            outline: none;
            background: none;
            font-size: 17px;
            font-family: $font-style;
            color: #ccc;
            cursor: pointer;

            span{
                margin: 0;
                padding: 0;
            }

            img{
                margin-left: 15px;
                width: 35px;
                height: 35px;
                opacity: 0.6;
            }   

            &:hover{
                color: white;
                img{
                    opacity: 1;
                }
            }
        }        
    }
    .header_download{
        position: absolute;
        margin: 0;
        padding: 0;
        top: 0;
        right: 0;
        width: 185px;
        height: 66px;
        object-fit: cover;
    }
}